<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otp verify page</title>

    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/assets/css/bootstrap-grid.css' %}">
</head>
<br>
<br>
<br>

<body style="background-color: #508bfc;">
    <section>
        <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="container">
          <div class="">
              <div class="font-weight-bold">
                  <div class="row justify-content-center">
                  <div class="col-md-6">
                  <div class="login_page bg-white shadow rounded p-4">
                  <div class="">
                  
  
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 ">OTP Verification</p>

                    <div class="text-center">
                        <center>
                            {% if msg %}
                                <h5 style="color: red;"> {{msg}} </h5>
                            {% endif %}
                        </center>
                    </div>

                    <form class="login-form" method="POST" action="{% url 'otp' %}" >

                        {% csrf_token %}
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                    
                        <label>Email<span class="text-danger" for="form2Example1" >*</span> </label>
						<input type="email" class="form-control" placeholder="Email" name="email" required="" value="{{email}}" readonly />

                        </div>
                    
                        <!-- OTP input -->
                        <div class="form-outline mb-4">
                            <label>Your OTP<span class="text-danger" for="form2Example1" >*</span> </label>
                            <input type="text" id="form2Example2" class="form-control" placeholder="Enter your otp" name="otp"  required="" />
                        </div>
                    
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Verify</button>
                        
                    </form>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>

</body>
</html>